@mixin text-style($size, $weight: 400, $lineHeight: 1.5) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
