<nz-page-header
  [nzGhost]="false"
  [nzBackIcon]="'arrow-left'"
  (nzBack)="onCancel()"
  [nzTitle]="isEditMode() ? 'Edit Overtime Rule' : 'New Overtime Rule'"
>
</nz-page-header>

<nz-card [nzLoading]="loading()">
  <form nz-form [formGroup]="form" (ngSubmit)="onSubmit()" nzLayout="vertical">
    
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="ruleCode">Rule Code</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Please enter a code">
            <input nz-input formControlName="ruleCode" placeholder="e.g. OT-STD-001" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="ruleName">Rule Name</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Please enter a name">
            <input nz-input formControlName="ruleName" placeholder="e.g. Standard Overtime" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzFor="description">Description</nz-form-label>
      <nz-form-control [nzSpan]="24">
        <textarea nz-input formControlName="description" rows="3" placeholder="Description of the rule..."></textarea>
      </nz-form-control>
    </nz-form-item>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="overtimeType">Overtime Type</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Please select a type">
            <nz-select formControlName="overtimeType" nzPlaceHolder="Select type">
              <nz-option *ngFor="let type of overtimeTypes" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="multiplier">Multiplier</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Required (min 0)">
            <nz-input-number formControlName="multiplier" [nzMin]="0" [nzStep]="0.1" style="width: 100%"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="startTime">Start Time</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Required">
            <nz-time-picker formControlName="startTime" nzFormat="HH:mm:ss" style="width: 100%"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="endTime">End Time</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Required">
            <nz-time-picker formControlName="endTime" nzFormat="HH:mm:ss" style="width: 100%"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider nzText="Applicability"></nz-divider>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="appliesToWeekdays">Weekdays</label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="appliesToSaturdays">Saturdays</label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="appliesToSundays">Sundays</label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="appliesToPublicHolidays">Public Holidays</label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-divider nzText="Organization & Settings"></nz-divider>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="organizationalUnitId">Organizational Unit</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Required">
            <nz-select formControlName="organizationalUnitId" nzPlaceHolder="Select Org Unit" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let item of orgUnits$ | async" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="priority">Priority</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Required">
            <nz-input-number formControlName="priority" [nzMin]="0" [nzStep]="1" style="width: 100%"></nz-input-number>
            <span class="text-xs text-gray-500">Processing order (lower = higher priority)</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="effectiveFrom">Effective From</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Required">
            <nz-date-picker formControlName="effectiveFrom" style="width: 100%"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="24" nzRequired nzFor="effectiveTo">Effective To</nz-form-label>
          <nz-form-control [nzSpan]="24" nzErrorTip="Required">
            <nz-date-picker formControlName="effectiveTo" style="width: 100%"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="active">Active</label>
      </nz-form-control>
    </nz-form-item>

    <div class="flex justify-end gap-4 mt-6">
      <button nz-button type="button" (click)="onCancel()">Cancel</button>
      <button nz-button nzType="primary" [nzLoading]="submitting()">
        {{ isEditMode() ? 'Update' : 'Create' }}
      </button>
    </div>
  </form>
</nz-card>
