

.default-btn {

}

.loading-sm {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.loading-md {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.loading-lg {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.btn-gradient {
  background: linear-gradient(135deg, #00bcd4, #2ebd59);
  color: white;
}

.btn-primary {
  background: var(--color-primary);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
}

.btn-secondary {
  background: rgba(254, 244, 215, 1);
}

.btn-cancel {
  background: rgba(230, 230, 230, 0.3);
}

.btn-alternate {
  background: rgba(0,0,0,.05);
  color: #2c3e50;
}

.btn-alternate:hover {
  color: #2c3e50;
  border: 1px solid transparent;
}

.btn-white {
  background: white;
  color: #2c3e50;
}

.btn-white:hover {
  color: #2c3e50;
  border: 1px solid transparent;
}

.btn-sm {
  font-weight: 400;
  font-size: 10px;
  padding: 8px 12px;
}

.btn-md {
  font-size: 13px;
  min-width: 80px;
  height: 40px;
  font-weight: 300;
}

.btn-lg {
  font-size: 16px;
  min-width: 150px;
  height: 52px;
}
