<nz-layout class="layout-container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="260" [nzTheme]="'light'">
    <div class="logo-container">
      <h2 *ngIf="!isCollapsed" class="text-lg font-semibold px-6 py-4 border-b">Settings</h2>
      <div *ngIf="isCollapsed" class="text-center py-4 border-b">
        <span nz-icon nzType="setting" nzTheme="outline" class="text-lg"></span>
      </div>
    </div>
    <ul nz-menu nzMode="inline" [nzTheme]="'light'">
      <li nz-submenu nzTitle="Organisational Structure" nzIcon="cluster">
        <ul>
          <li nz-menu-item *ngFor="let item of menuItems.organisationalStructure" [nzSelected]="false" [routerLink]="item.route" routerLinkActive="ant-menu-item-selected">
            <span nz-icon [nzType]="item.icon"></span>
            <span>{{ item.title }}</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Employment Structure" nzIcon="team">
        <ul>
          <li nz-menu-item *ngFor="let item of menuItems.employmentStructure" [nzSelected]="false" [routerLink]="item.route" routerLinkActive="ant-menu-item-selected">
            <span nz-icon [nzType]="item.icon"></span>
            <span>{{ item.title }}</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Compensation and Classification" nzIcon="bank">
        <ul>
          <li nz-menu-item *ngFor="let item of menuItems.compensationAndClassification" [nzSelected]="false" [routerLink]="item.route" routerLinkActive="ant-menu-item-selected">
            <span nz-icon [nzType]="item.icon"></span>
            <span>{{ item.title }}</span>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Job and Role" nzIcon="book">
        <ul>
          <li nz-menu-item *ngFor="let item of menuItems.jobAndRole" [nzSelected]="false" [routerLink]="item.route" routerLinkActive="ant-menu-item-selected">
            <span nz-icon [nzType]="item.icon"></span>
            <span>{{ item.title }}</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
