.main-layout {
  height: 100vh;
  width: 100%;
  overflow: hidden; // prevent layout scroll
}

.content-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  overflow: hidden;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px;
  // background: #f5f7fa;
  background: transparent;
}

.inner-content {
  // min-height: 100%;
}