.page-header {
    margin-bottom: 24px;

    .header-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button {
            padding-left: 0;
            margin-bottom: 8px;
        }
    }

    h1 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
    }
}

.form-container {
    max-width: 1000px;
}

.text-right {
    text-align: right;
}

.pt-8 {
    padding-top: 32px;
}

.w-full {
    width: 100%;
}