::ng-deep .content-container {

    padding: 6px 24px !important;

}

:host {
  display: block;
}

nz-descriptions {
  background: white;
}

h4 {
  color: #1a1a1a;
}
::ng-deep nerd-breadcrumb{
  display: none !important;
}

