//.ant-input {
//  // margin: 5px;
//}
//
//.ant-modal-header {
//  border: none;
//  border-radius: 15px;
//}
//
//.ant-modal-content {
//  border-radius: 15px;
//}
//
//.ant-modal-footer {
//  border: none
//}
//
//
//.ant-progress-bg {
//  transition-duration: 2.5s;
//}
//
//.ant-alert-warning {
//  border: none;
//}
//
//.ant-alert-error {
//  border: none;
//}
//
//.ant-layout {
//  //height: 100vh;
//  //max-height: 100vh;
//}
//
//.ant-menu.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
//  padding: 0 calc(50% - 20px / 2);
//}
//
//.ant-input:focus, .ant-input-focused {
//  box-shadow: none;
//}
//
//.ant-cascader {
//  width: 100%;
//}
//
//.ant-popover-inner-content {
//  padding: 5px 10px;
//}
//
//.ant-page-header {
//  padding: 0;
//}
