.layout-container {
  height: 100%;
  min-height: calc(100vh - 64px); /* Adjust based on top nav height */
  background: #f0f2f5;
}

nz-sider {
  background: #fff;
  border-right: 1px solid #f0f0f0;
}

.logo-container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  h2 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.inner-content {
  padding: 24px;
  min-height: 100%;
}

:host ::ng-deep .ant-layout-sider-trigger {
  border-top: 1px solid #f0f0f0;
}
