.nerd-top-header {
  padding: 0.15rem 1rem;
}

nz-header {
  background: #fff;
  padding: 0;
}

.nerd-nav-button {
  font-family: Poppins, sans-serif;
  font-size: 10px;
  display: flex;
  background: #fff;
  padding: 8px 12px;
  border-radius: 15px;
  transition: all .5s;
  box-shadow: 0 0 25px 0 rgba(0,0,0, .05);
}

.nerd-nav-button:hover, .top-nav-button-icon:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px -10px #dfe2e1;
  transform: translateY(-2px);
}

.nerd-nav-button:active, .top-nav-button-icon:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 4px 12px -6px #dfe2e1;
}

.nerd-nav-button-icon {
  color: #249a68;
  margin: 0 8px 0 0;
}

.gradient-tag {
  background: linear-gradient(90deg, #b2faba, #dbfeb3); /* green gradient */
  color: #4a9965 !important;
  border: none !important;
  margin: 0 0 0 8px;
  font-size: 9px;
  padding: 2px;
  line-height: unset;
  font-weight: 400;
}

.search-box {
  background: #eef2f5;
  color: #2c3e50;
  border-radius: 10px;
  padding: 2px 5px;
}

.search-box-icon {
  font-size: 10px;
}


:host {
  .modal-search {
    nz-input-group.ant-input-affix-wrapper {
      border-radius: 8px !important;
      border: none;
      background: #eef2f5;
      font-size: 12px;
      font-weight: 400;
      color: #2c3e50;
      margin-right: 30px;

      input[nz-input] {
        background: transparent;
        color: #2c3e50;
        border: none;
      }
    }
  }

  .search-box {
    nz-input-group {
      background: transparent; /* your desired background */
      border-radius: 8px;
      border: none;

      input[nz-input] {
        background: transparent;
        color: #2c3e50;
        border: none;
      }

      .ant-input-group-addon {
        background: transparent;
        color: #2c3e50;
        border: 1px solid transparent;
      }
    }
  }
}

.top-nav-button-icon {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all .5s;
  color: var(--color-text);
}

.search-nav-icon {
  color: #2c3e50;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.search-nav-text {
  margin-left: 8px;
  color: #2c3e50;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.search-nav-item {
  margin-right: 16px
}

.search-results {
  list-style: none;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
  z-index: 10;

  li {
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover,
    &.active {
      background: #eef2f5;
      //font-weight: 500;
    }
  }
}

.search-path {
  color: #2c3e50;
  font-size: 10px;
  opacity: 0.8;
}

.search-name {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #2c3e50;
}

.search-description {
  font-family: Poppins, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #2c3e50;
  opacity: 0.8;
}

.search-box:hover {
  cursor: pointer;
}

.top-nav-header {
  padding: 0px !important;
}

.esg-score-container {
  //padding: 0 20px;
  //background: rgba(255, 255, 255, 0.75);
  //border-radius: 12px 0;
}

.top-nav-gauge-container {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  margin: 0 5px;
}

.top-nav-user-greeting {
  color: rgb(160 158 179);
  font-size: 12px;
}

.top-nav-time-greeting {
  font-weight: 700;
  font-size: 18px;
}
