.layout-container {
  min-height: 100vh;
}

.logo-container {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
}

.inner-content {
  padding: 24px;
  min-height: 100%;
}

nz-sider {
  background: #fff;
  border-right: 1px solid #f0f0f0;
}

:host ::ng-deep .ant-layout-sider-trigger {
  border-top: 1px solid #f0f0f0;
}
